*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .top{
    display: flex;
    justify-content: space-around;
    background-color: #45076a;
    padding: 10px;
    height: 50%;
  }

  .con-link{
    color: white;
    margin-right: 10px;
  }
  .search{
    padding: 10px;
    width: 370px;
    border: none;
    border-radius: 10px;
    transition: 0.5s;

  }
  .sign{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #b248f2;
    color: white;
    transition: 0.5s;
  
  }
  
  .sign:hover
  {
    background: #b248f2;
    color: white;
    box-shadow: 0px 0px 20px #b248f2;
    transform: translateY(-2px);
  
  }
  
  .con-link{
    text-decoration: none;
    font-weight: bold;
  }
  #shop{
    width: 50px;
  }
  .top i{
    cursor: pointer;
  }
  .top i span{
    background-color: white;
    color: black;
    padding: 0px 5px;
    border-radius: 20px;
    position: relative;
    top: -25px;
    left: 5px;
    font-size: 13px;
    cursor: pointer;
  }
  #search{
    position: relative;
    right: 30px;
    font-weight: bold;
    
  }

@media (max-width:1001px){
  .search{
    width: 100px;
  }
}
@media (max-width:736px){
  .sign{
    font-size: 10px;
  }
}
@media (max-width:679px){
  .search{
    position: relative ;
    left: 0px;
    
  }
  
}

@media (max-width:346px){
  #mail{
    position: relative;
    /* top: 20px; */
    left: 26px;
  }
  #mail-i{
    position: relative;
    right: 170px;
    top: 25px;
  }
}

/* NAVBAR */

nav{
  background-color: #b248f2;
  width: 100%;
  height: auto;
  display:flex ;
  align-items: center;
  justify-content: space-around;
  color: white;
  transition: 0.5s;
  padding: 20px 5px;
  z-index: 5 !important;

}
nav li{
  display: inline-block;
  margin: 0 8px;
  font-weight: bold;
  transition: 0.5s;
  
}
nav a{
  text-decoration: none;
  color: white;
  transition: 0.5s;

}
nav a:hover{
  color: #45076a;
  text-shadow: 0px 0px 20px #45076a;
  transform: translateY(-2px);
}
nav a i:hover{
  color: #45076a !important;
  text-shadow: 0px 0px 20px #45076a;
}
.menu .line{
  width: 25px;
  height: 5px;
  background-color: white;
  margin: 5px;
  border-radius: 10px;
}
.menu{
  cursor: pointer;
  display: none;
  transition: 0.5s;

}
@media (max-width:619px){
  nav{
    flex-direction: column;
    transition: 0.5s;
  }
  nav li{
    display: block;
    padding: 10px 0;
    transition: 0.5s;

  }
  #list-menu{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
  }
  #menu-icon{
    
  }
  ul{
    /* text-align: center; */
    /* padding: 0; */
    display: none;
    transition: 0.5s;
  }
  ul li{

  }
 
  .logo{
    align-self: flex-start;
    margin: 10px 0px 0px 30px;
  }
  .menu{
    display: block;
    position: absolute;
    right: 20px;
    top: 110px;
    transition: 0.5s;

  }
  .showmenu{
    display: block;
    transition: 0.5s;

  }
}


/* SLIDER */

#slider{
  margin: 10px auto;
  width: 90%;
  height: 500px;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }
  
  body { margin: 0; } 
  div#slider { overflow: hidden; }
  div#slider figure img { width: 20%; float: left; }
  div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
  }
  

  .second img{
      width: 400px;
      height: 370px;
      
  }
 
  .product .card img{
      width: 340px;
      height: 340px;
      display: flex;
      justify-content: center;
  }
  .product .card{
      /* display: flex; */
      border: none;
      background-color: blueviolet;
      background: none;
  }
  .product{
      padding: 10px;
      border: none;
  }
  .card img{
      width: 340px;
      height: 340px;
        
  }



/* CONTENT */


#content button{
      
  background:#45076a;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  transition: 0.5s;
}

#content button:hover
{
  background: #b248f2;
  color: white;
  box-shadow: 0px 0px 10px #45076a;
  transform: translateY(-2px);

}
.main-content{
  background: #b248f2;
  color: white;
  box-shadow: 0px 0px 10px #b248f2;
  padding: 50px 0px;
}
.cont-img{
  width: 400px;
  height: 400px;
  border-radius: 10px;
  transition: 0.5s;
}
#content .second .cont-img:hover{
  max-width: 410px;
}




/* product */

#product img{
  /* padding: 15px; */
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
  transition: 0.5s;

}
#product img:hover{
 
  box-shadow: 0px 0px 20px #45076a;
  transform: translateY(-8px);
}


/* offer */

.offer-btn{
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  font-weight: bold;
  color: white;
  transition: 0.5s;
}
.offer-btn:hover{
  background: #b248f2;
  color: white;
  box-shadow: 0px 0px 10px #b248f2;
  border: none;
  transform: translateY(-2px);

}
.offer h1{
  color: white;
}
.offer{
  background-color: #45076a;
  padding: 40px 20px;
}
.offer{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

/* feedback */

.feed-card{
  width:60%;
  height: auto;
  border: 2px solid rgb(168, 168, 168);
  margin: 0px auto;
  /* padding: 5px; */
  border-radius: 10px;
}
.feed-card .feed-img{
  width: 170px;
  margin: auto;
  border-radius: 10px;
}
.feed-card .feed-con{
  text-align: center;
  /* background-color: aqua; */
  /* width: 500px; */
  margin:auto;
}
#feed-icon{
  position: relative;
  bottom:25px;
  left: 80px;
  background-color: white;
  /* border: 2px solid rgb(168, 168, 168); */
  padding: 10px;
  border-radius: 50%;
  color: #45076a;
  box-shadow: 1px 1px 20px rgb(224, 224, 224);
}



/* contact */

.main-contact{
  background-color: #45076a;
}
#contact{
  padding-top: 20px;
}
.main-contact h4{
  color: white;
}

#contact .left-contact .left-ites i{
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  color: #45076a;
}
#contact .left-contact .left-ites h4{
  color: #b248f2;
  padding-top: 5px;
}
#contact .row{
  padding: 20px;
  /* height: 500px; */
}

#contact .crd{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top:20px;
  padding: 20px;
}

#contact .right-contact .input-itea{
  margin: 5px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid black;
}
#contact .right-contact .contact-btn{
  margin: 15px 5px;
  padding: 10px;
  background-color: #45076a ;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: 0.5s;
} 
#contact .right-contact .contact-btn:hover{
  background: #b248f2;
  color: white;
  box-shadow: 0px 0px 10px #b248f2;
  transform: translateY(-2px);
}


/* footer */
#footer .row .three a{
  display:block;
  text-decoration: none;
  color: black;
}
#footer h6{
  color: #45076a;
}
#footer i{
  background-color: #45076a;
  padding: 10px;
  border-radius: 50px;
  color: white;
}

